@import url('https://fonts.googleapis.com/css?family=Anton|Nunito|Playfair+Display');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Nunito', sans-serif;
}

h6, h5, h4, h3, h2, h1 {
    font-family: 'Playfair Display', serif;
}

.cooltext {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.logosubmenu { margin-top: 30px; }

.juosta {
	border-top:8px solid grey;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul li {
	list-style-type: none;
}

.submenu ul {
	margin-left:0px;
	padding-left: 0px;
	margin-bottom:0px;
}

.submenu {
	margin-top:10px;
}

.logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.submenu li:before {
	content: "\f0a9"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	margin-left: 5px; /* same as padding-left set on li */
	width: 5px; /* same as padding-left set on li */
}

.submenucont {
	background-color:#eee;
	border-radius: 15px;
	padding:20px;
	-webkit-box-shadow: 5px 5px 3px #888888;
	-moz-box-shadow: 5px 5px 3px #888888;
	box-shadow: 5px 5px 3px #888888;
}

#menu ul li{
	display: inline;
	padding:15px;
	text-align: center;
	border-right: 2px solid #9dc0ce;
}

#menu {
	background-color: #afcbd7;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top:-8px;
	padding-top: 20px;
}

.container {
	max-width: 700px;
}

.noborder {
	border-right: none !important;
}

.sidebarone {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 40px;
	background-color: #999999;
	margin:20px 20px 0px 20px;
	border-top-right-radius: 20px;
	color: white;
}

.border {
	border:1px solid grey;
	margin-top: 50px;
}

.buttonas {
	margin-top:-20px;
	margin-left:5px;
}

table { width:100%; border-left:1px solid grey; }
th { text-align: center; }

.paddingaslenteles { padding:20px; }

.mobilemenu { 
	display: none;
}

.bottomcounter { padding-top: 50px; padding-bottom: 50px;}

#mobilemenuli { 
	display: block;
	-webkit-transition: width 3s; /* For Safari 3.1 to 6.0 */
    transition: width 3s;
    padding-left: 0px;
    margin-left: 0px;
}

@media only screen and (max-width: 500px) {

	#menu ul li{
		padding:0px;
		text-align: center;
		border-right: 0px solid #9dc0ce;
	}

	table { width:100%; border-left:0px solid grey; }

	.buttonas {
		margin-top:-19px;
		margin-left:35px;
	}

	#mobilemenuli { 
	display: none; 
	-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
    transition: 3s;
}

}

@media only screen and (max-width: 766px) {

	.mobilemenu img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 15px;
	}

	.mobilemenu {
		display: block;
	}

	#menu ul li{
		padding:0px;
		text-align: center;
		border-right: 0px solid #9dc0ce;
		display: block;
	}

	#mobilemenuli { 
	display: none; 
	-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
    transition: 3s;
}
	.submenucont {
	border-radius: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding:0px;
	width:100%;
	margin:0 auto;
}

.logo { margin-bottom: 20px; }

}
